# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates
---
version: 2
updates:
  - package-ecosystem: maven
    directory: /
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "org.glassfish.jersey:jersey-bom"
        versions: [">=4.0.0"]
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
